<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> </head>
<body>

<h1 th:switch="${status}">
    <span th:case="'SUCCESS'">Purchase confirmed!</span>
    <span th:case="'PRODUCT_NOT_FOUND'">Product not found, contact support for more details</span>
    <span th:case="'USER_NOT_FOUND'">No user found, sign in required</span>
    <span th:case="*">Order status</span>
</h1>


<div th:if="${status == 'SUCCESS'}">
    Order #<span th:text="${order.id}">0</span> created.
</div>


<div class="card" th:if="${order.product != null}">
    <h2 th:text="${order.product.title}">Title</h2>
    <img th:src="${order.product.image}" th:alt="${order.product.title}">

</div>
<a th:href="@{/products}"> <- Back to products</a>
</body>
</html>