<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrera</title>
    <style>
        form input, form button {
            display: block;
            margin-bottom: 10px;
        }

        .radio-group {
            margin-bottom: 10px;
        }

        .radio-group input[type="radio"] {
            display: inline;
            margin: 5px;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>Register</h2>

    <p th:if="${error}" th:text="${error}" style="color: #e74c3c; text-align: left;"></p>

    <form th:action="@{/register}" th:object="${user}" method="post">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: #e74c3c;"></div>
        <input type="text" th:field="*{name}" placeholder="Name" required>

        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: #e74c3c;"></div>
        <input type="text" th:field="*{email}" placeholder="Email" required>

        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: #e74c3c;"></div>
        <input type="password" th:field="*{password}" placeholder="Password" required>

        <div th:if="${#fields.hasErrors('role')}" th:errors="*{role}" style="color: #e74c3c;"></div>
        <div class="radio-group">
            <input type="radio" th:field="*{role}" value="admin"/>Admin
            <input type="radio" th:field="*{role}" value="user" checked>User
        </div>


        <button type="submit">Register</button>
    </form>

    <div class="links">
        <a href="/login">Back to log in</a>
    </div>
</div>
</body>
</html>